* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: aliceblue;
  font-size: 1em;
}
.everything {
  background: linear-gradient(to bottom right, #353434, #000000);
  font-size: 1em;
  margin-right: 0;
  height: 100vh;
  overflow-x: hidden;
  font-family: "Oswald", sans-serif;
  font-family: "Titillium Web", sans-serif;
}
body {
  width: 100%;
  height: auto;
}

/* !HEADER */
#nav .navbar-nav .nav-link {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}
#nav .navbar-toggler-icon {
  color: white;
}
#nav .navbar-nav .nav-link:hover {
  color: tomato;
}
#nav {
  font-family: "Oswald", sans-serif;
  font-family: "Titillium Web", sans-serif;
  height: 10vh;
  background: linear-gradient(315deg, #000000 0%, #414141 74%);
}
.navbar-nav li a:hover {
  animation: pulse 2s infinite;
}

@keyframes pulse {
  0% {
    transform: scale(1);
  }

  50% {
    transform: scale(1.1);
  }

  100% {
    transform: scale(1);
  }
}

.offcanvas-body {
  background: linear-gradient(315deg, #000000 0%, #414141 74%);
}
.offcanvas-body li {
  color: white;
  display: flex;
  justify-content: center;
}
.navbar-toggler-icon {
  color: #e65728;
}
/* !MAIN */
.first-page {
  position: relative;
  margin: 0 auto;
  min-height: 90vh;
  padding-bottom: 20px;
}
.first-page {
  width: 100%;
  height: 90vh;
}
#about-me-main {
  background: linear-gradient(15deg, rgba(0, 0, 0, 0.4) 0%, #414141 74%),
    url(./photo/codebg3.jpg);
  background-position: center;
  background-attachment: fixed;
}

/* !Button */
#gotoabout{
  bottom: 10vh;
}
button {
  position: relative;
  padding: 12px 35px;
  background: transparent;
  font-size: 17px;
  font-weight: 500;
  color: tomato;
  border: 1px solid tomato;
  border-radius: 8px;
  box-shadow: 0 0 0 #fec1958c;
  transition: all 0.3s ease-in-out;
}
.world a button{
  border-radius: 4px;
}

.star-1 {
  position: absolute;
  top: 20%;
  left: 20%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0.05, 0.83, 0.43, 0.96);
}

.star-2 {
  position: absolute;
  top: 45%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-3 {
  position: absolute;
  top: 40%;
  left: 40%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 1s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-4 {
  position: absolute;
  top: 20%;
  left: 40%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-5 {
  position: absolute;
  top: 25%;
  left: 45%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.6s cubic-bezier(0, 0.4, 0, 1.01);
}

.star-6 {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 0 #fffdef);
  z-index: -5;
  transition: all 0.8s ease;
}

button:hover {
  background: transparent;
  color: #fec195;
  box-shadow: 0 0 25px #fec1958c;
}

button:hover .star-1 {
  position: absolute;
  top: -80%;
  left: -30%;
  width: 25px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-2 {
  position: absolute;
  top: -25%;
  left: 10%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-3 {
  position: absolute;
  top: 55%;
  left: 25%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-4 {
  position: absolute;
  top: 30%;
  left: 80%;
  width: 8px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-5 {
  position: absolute;
  top: 25%;
  left: 115%;
  width: 15px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

button:hover .star-6 {
  position: absolute;
  top: 5%;
  left: 60%;
  width: 5px;
  height: auto;
  filter: drop-shadow(0 0 10px #fffdef);
  z-index: 2;
}

.fil0 {
  fill: #fffdef;
}

#div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#div1,
#gif {
  width: 50%;
  height: 70vh;
  float: left;
}
#collins {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.samurai {
  display: none;
}
.world {
  width: 100vw;
  height: 10vh;
  position: absolute;
  bottom: 0;
  display: flex;
}
.world a {
  border-radius: 5px;
  margin: 10px auto;
}
@media screen and (max-width: 800px) {
  .samurai {
    width: 100%;
    height: auto;
  }
}
#me {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  object-fit: contain;
  mix-blend-mode: lighten;
}
#gif {
  mix-blend-mode: lighten;
  display: flex;
  align-items: center;
}

.letter {
  transition: all 0.2s ease-in-out;
}
.letter:hover {
  color: tomato;
}

#stack {
  display: flex;
  width: 80vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
}
#stack img {
  aspect-ratio: 4/3;
  object-fit: contain;
  width: 8rem;
}
#heading1,
#heading2,
#heading3,
#heading4,
#heading5 {
  margin-left: 10vw;
}
#heading1 b,
#heading2 b,
#heading3 b,
#heading4 b,
#heading5 b {
  color: #e65728;
}
#content1,
#content2,
#content3,
#content4 {
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
}
main{
  width: 100vw;
}

#footer {
  width: 100%;
  margin: auto;
  padding: 20px;
  height: fit-content;
  
  margin: 0 auto;
}
#table ul li {
  list-style-type: disc;
}
#table a:visited {
  color: rgb(252, 4, 252);
}
footer {
  height: fit-content;
  width: 100vw;
  background: linear-gradient(315deg, #000000 0%, #414141 74%);

  box-shadow: 0 0 5px white;
}
footer #links a {
  text-decoration: none;
  color: white;
}
footer #links a:hover {
  color: #e65728;
}


/* PROJECT */
#project-main {
  background: linear-gradient(315deg, #000000 0%, #414141 74%);
  margin-top: -5vh;
  min-height: 100vh;
}
@media (max-width: 767px) {
  .card-row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
  }
}
#card-col {
  display: flex;
  justify-content: center;
}
.card-body {
  background-color: #353434;
}
.card-body .card-title {
  color: white;
}
.card {
  border: 1px solid green;
}
.card-title {
  color: white;
}
.row .card {
  border: none;
  border-radius: 5px;
  box-shadow: 0px 0px 8px #e65728;
}
.col .card {
  aspect-ratio: 2/3;
}
@media print {
  .card {
    border: none;
    box-shadow: none;
  }
  body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    color: #000;
    font-family: Arial, sans-serif;
  }
}

/* *ABOUT */


#about-me-main {
  top: 15vh;
  position: relative;
}

#about-me-main:before {
  content: "";
  display: block;
  height: 100%;
  margin-top: -100px;
  visibility: hidden;
  pointer-events: none;
}
#about{
  min-height: 90vh;
  padding-top: 30px;
  margin-top: 20vh;
}
.empty{
  height: 12vh;
  width: 100vw;
}