* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  color: aliceblue;
}
.everything {
  background: linear-gradient(to bottom right, #353434, #000000);
  overflow-x: hidden;
  font-size: 1em;
}
body {
  width: 100%;
  height: auto;
}

/* !HEADER */
#nav .navbar-nav .nav-link {
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}
#nav .navbar-toggler-icon {
  color: white;
}
#nav .navbar-nav .nav-link:hover {
  border-bottom: 1px solid white;
  border-radius: 5px;
  box-shadow: 0px 4px 4px tomato;
}

#nav {
  height: 10vh;
  background: linear-gradient(115deg, #000000 0%, #414141 74%);
}
.offcanvas-body{
  background: linear-gradient(315deg, #000000 0%, #414141 74%);
}
.offcanvas-body li{
  color: white;
  display: flex;
  justify-content: center;
}
.navbar-toggler-icon{
  color:#e65728;
}
/* !MAIN */
.first-page {
  position: relative;
  height: 80vh;
  width: 100%;
}
#div1 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#div1,
#gif {
  width: 50%;
  height: 81vh;
  float: left;
}
#collins {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.samurai {
  position: absolute;
  top: 0;
  right: 20%;
}
@media screen and (max-width: 800px) {
  .samurai {
    width: 100%;
    height: auto;
  }
}
#me {
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%, -50%);
  width: 50%;
  height: 50%;
  object-fit: contain;
  mix-blend-mode: lighten;
  border: 1px solid green;
}
#gif {
  mix-blend-mode: lighten;
  display: flex;
  align-items: center;
}

.letter {
  transition: all 0.2s ease-in-out;
}
.letter:hover {
  color: darkorange;
}


#stack {
  display: flex;
  width: 80vw;
  height: auto;
  flex-wrap: wrap;
  margin: 0 auto;
  justify-content: space-evenly;
}
#stack img {
  aspect-ratio: 4/3;
  object-fit: contain;
}
#heading {
  margin-left: 10vw;
}
#heading b {
  color: #e65728;
}
#content, #footer{
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
}
footer {
  height: fit-content;
  width: 100vw;
  background: linear-gradient(315deg, #000000 0%, #414141 74%);
 
  box-shadow: 0 0 5px white;
}
footer #links a {
  text-decoration: none;
  color: white;
}
footer #links a:hover {
  color: #e65728;
}
 #footer{
  width: 80vw;
  margin: 0 auto;
  padding: 20px;
}