* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Oswald", sans-serif;
  color: aliceblue;
}
.everything{
  background: linear-gradient(to bottom right,#353434 ,#000000);
}
body {
  width: 100%;
  height: auto;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
}

/* !HEADER */
#nav .navbar-nav .nav-link {
  color: white;
}
#nav .navbar-toggler-icon {
  color: white;
}

#nav{
  height: 10vh;
}
/* !MAIN */
.first-page {
  position: relative;
  height: 80vh;
  width: 100vw;

 
}
#div1{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: flex-end;
}
#div1, #gif{
  width: 50%;
  height: 81vh;
  float: left;
}
#collins{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: flex-end;
  position: relative;
}
.samurai{
  position: absolute;
  top: 0;
  right: 20%;
  
}
@media screen and (max-width: 800px) {
  .samurai{
    width: 100%;
    height: auto;
  }
}
#me{
  position: absolute;
  top: 50%;
  left: 30%;
  transform: translate(-50%,-50%);
  width: 50%;
  height: 50%;
  object-fit: contain;
  mix-blend-mode: lighten;
  border: 1px solid green;
  
}
#gif{
  mix-blend-mode: lighten;
  display: flex;
  align-items: center;
}

.letter {
  transition: all 0.2s ease-in-out;
}
.letter:hover {
  color: darkorange;
}


/* TODO: ABOUT

#about{
  height: fit-content;
}
.sideImg{
  mix-blend-mode: lighten;
}
.abt,.img2{
  
  height: 100%;
  float: left;
}
.abt{
  width: 70%;
  padding: 20px;
}
.img2{
  width: 30%;
}
#about,#skills{
  margin: 60px;

}
#skills{
  position: relative;
}
.tech-stack{
  height:fit-content ;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  width: 70vw;
  position: relative;
  top: 50%;
  left: 10%;
}
.tech-stack img{
  width: 130px;
  float: left; 
  object-fit: contain;
  margin: 10px 25px;

}
figcaption{
  text-align: center;
}
.list a{
  text-decoration: none;
  color: white;
} */